.edit-profile-container {
  background: linear-gradient(to bottom right, #fbc2eb, #a6c1ee);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  position: relative;
}

.logout-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  background: rgba(255, 255, 255, 0.28);
  border-radius: 6px;
  padding: 7px 20px;
  color: #fff;
  font-size: 18px;
  font-family: monospace;
  cursor: pointer;
  border: none;
}

.avatar-container {
  position: relative;
  margin-bottom: 30px;
}