.edit-profile-container {
  background: linear-gradient(to bottom right, #fbc2eb, #a6c1ee);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  position: relative;
}