.Post_Page {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/post.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
.Header
{
   top:0;
   left: 0;
   padding:30px;
   position: sticky;
   display: flex;
   align-items: center; 
}
.profile
{
    height: 4rem;
    width: 4rem;
}
.music
{
    height: 7rem;
   
}
.explore
{
   width: 10rem;
   height: 5rem;
   background-color: rgb(217,217,217);
   border-radius: 40px;
   display: flex;
}
.explore_text
{ position: relative;
  left:2rem;
  top: 1.5rem;
   font-family: "Pacifico";
  font-weight: 400;
  font-style: normal;
}
.right
{
   margin-left: auto;
   display: flex;
   align-items: center;
   gap:5rem;
   color:#5a4fcf;
}
.bottom {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
}

.bot {
  height: 4rem;
  width: 4rem;
}
.WhisperContainer
{
  width:50rem;
  height:30rem;
  margin:auto;
 
}